.center{
    display: flex;
    justify-content: center;
}
.titleSpecs{
    font-size: 100px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.secondaryHeaderSpecs{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}
.secondaryHeaderSpecsblk{
    font-size: 25px;
    color: #000000;
    font-family: 'Open Sans Condensed', sans-serif;
}
.secondaryHeaderSpecsblkxs{
    font-size: 15px;
    color: #000000;
    font-family: 'Open Sans Condensed', sans-serif;
}
.imgSpecs{
    height: 880px;
}
.hrStyle{
    color: #a1cff5;
}
.protoBtnStyle{
    background-color: #203242;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    border: none;
}
.blueBG{
    background-color: #000000;
}
.xsTitle{
    font-size: 40px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.xsSecondaryTitle{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.TritonButtons{
    background-color: #ffffff;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans Condensed', sans-serif;
    border: none;
    width: 200px;
    border-radius: 5px;
}
.white{
    background-color: white;
}