.buttonBG{
    background-color: #28365a00;
    border: none;
}
.buttonBG :hover{
    background-color: #28365a00;
    border: none;
}
.buttonBG :active{
    background-color: #28365a00;
    border: none;
    border-radius: 15px;
}
.buttonBG :active :hover  {
    background-color: #28365a00;
    border: none;
    border-radius: 15px;
}