
.displayTxt{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.displayBG{
    background-color: white;
}
.center{
    display: flex;
    justify-content: center;
}
.calcBG{
    background-color: #4860A0;
}
.topRow{
border-radius: 15px 15px 0px 0px;
}
.botRow{
    border-radius: 0px 0px 15px 15px;
}
.protoBtnStyle{
    background-color: #203242;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    border: none;
    width: 70px;
}
.titleStyle1{
    font-size: 110px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.blueBG{
    background-color: #4860A0;
}
.secondaryHeaderSpecs{
    font-size: 35px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.xsTitle{
    font-size: 40px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.xsSecondaryTitle{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

.noPadding{
    padding: 0px;
}
.rounding{
    border-radius: 10px;
}
.Home{
    background-color: #203242;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    border: none;
    width: 200px;
}
.white{
    background-color: white;
}
.buttonStyleReturn{
    background-color: #000000;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    border: none;
    width: 200px;
    border-radius: 5px;
}
.secondaryHeaderSpecsblk{
    font-size: 25px;
    color: #000000;
    font-family: 'Open Sans Condensed', sans-serif;
}
.secondaryHeaderSpecsblkxs{
    font-size: 15px;
    color: #000000;
    font-family: 'Open Sans Condensed', sans-serif;
}