body{
    height: 100%;
    background-color: #13192a ;
}
.titleStyle1{
    font-size: 100px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.secondaryHeader1{
    font-size: 40px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.center{
    display: flex;
    justify-content: center;
}
.marginTop{
    margin-top: 30px;
}
.marginBottom{
    margin-bottom: 30px;
}
.right{
    display: flex;
    justify-content:flex-end
}
.noPadding{
    padding: 0px;
    margin: 0px;
}
.jumboTronStyle{
    border-radius:  15px 15px 0px 0px;
    background-color: #28365A;
}
.aboutMeText{
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin-left: 15px;
}
.carouselBG{
    border-radius: 15px;
}
.blueBG{
    background-color: #4860A0;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 70px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(255, 255, 255, 1); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.pageBreakBG{
background: #28365A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #28365A, #4860A0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #28365A, #4860A0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



