.protoBtnStyle{
    background-color: #203242;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    border: none;
}
.Home{
    background-color: #203242;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    border: none;
    width: 200px;
    border-radius: 5px;
}